form {
	margin-top: 10px;
}
#header {width: 70%; background: #3209c3; margin-top: 0px; padding:9px 0px 9px 9px;}
#header0 {width: 70%; background: #cccccc; margin-top: 0px; padding:9px 0px 9px 9px; font-size: 10px;
background-image: url('../../resources/images/blueBkGnd.jpg');
color: white; text-align: center; font-size: 12px; font-weight: bold;}
#header2 {width: 70%; background: #3209c3; margin-top: 0px; padding:9px 0px 9px 9px;}

label {
	font-size: 16px; 
	width: 100px; 
	display: block; 
	text-align: right;
	margin-right: 10px;
	margin-top: 8px;
	margin-bottom: 8px;
}

input {
	width: 250px;
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 16px;
}

.save {
	font-weight: bold;
	width: 130px; 
	padding: 5px 10px; 
	margin-top: 30px;
	background: #cccccc;
}

table {   
	border-style:none;
	width:50%;
}

tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #FFFFFF}

tr {
	border-style:none;
	text-align:left;	
}
	
