html, body{
	margin-left:15px; margin-right:15px; 
	padding:0px; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background: #d8d8d8
}

#header0 {
	width: 70%; height: 100%; 
	padding:60px 35px 55px 35px; 
	margin-top: 3%; margin-left: 15px; 
background-image: url('../../resources/images/blueBkGnd.jpg');
	color: white; text-align: center;
	font-size: 12px; font-weight: bold;
	height: 100%;
}

table {   
	 width:50%;   
	/* padding: 15px;  */
	 margin-left:290px;  
	/* margin: auto; */
	/* border-collapse:collapse; */
	/* border:1px solid gray; */
	/*	 background-image: url('../../resources/images/blueBkGnd.jpg');  */
}


 /******* Buttons *******/
 /***********************/
	
.button {
	border: 1px solid #666; border-radius: 4px;  
	font-size: 14px; font-weight: bold;
	width: 120px; height: 37px;
	padding: 7px 10px; 
	margin-bottom: 15px;
	background: #73b4e8;
	/*-webkit-transition-duration: 3.4s;  */
    transition-duration: 0.45s; 	/*animation, color change*/
}
.button:hover{
    background-color: #1d6daf;
    color: white;
}


 /****** Input box *******/
 /***********************/
.inputtxtbox{
	border: 1px solid #666; border-radius: 2px;  
	font-size: 14px; font-weight: bold;
	width: 160px; height: 18px;
	padding: 7px 10px;
	background: #f8f8f8; color: #0055aa;
    transition-duration: 0.45s;  /*animation, color change*/	
}
.inputtxtbox:hover{
    background-color: #ffffdf;
    color: #000000;
}



 /*** "Please Wait" belt ***/
 /**************************/
.pleaseWait {
    z-index: 1; /* Stay on top */
    height: 70px; width: 0px; 
    position: fixed; top: 8px; left: 0px;
    background-color: #005ab5;
    overflow-x: hidden; /* Disable scroll */
    overflow-y: hidden; /* Disable scroll */
    transition: 1.7s; 
}
.pleaseWaitText {
	text-align: right;
	font-family: Arial,Verdana,Segoe,sans-serif;
	font-size: 23px; color: #c0c0c0;
	background-color: #005ab5;
	margin-right:45px; margin-left:125px;
	margin-top:22px; margin-bottom:0px;
	white-space: nowrap
}